* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 16px;
  background: var(--white);
  font-family: Roboto, sans-serif;
}

button {
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  border-radius: 6px;
  border: 0;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 150ms ease;
}

button.primary {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--white);
}

button.primary:hover {
  opacity: 0.8;
}

button.secondary {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
}

button.secondary:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--primary);
}

input:not([type="radio"]) {
  border: 1px solid var(--border);
  padding: 0.75rem;
  border-radius: 6px;
  color: var(--text);
  width: 100%;
}